* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3a3a3a;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
	text-decoration: none;
}

ul,ol {
    list-style-type: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
  pointer-events:none;
}

.main-header {
  color: white;
  height: 100vh;
  background: linear-gradient(#002040, transparent 70%),
              linear-gradient(0deg, #ffa949, transparent 70%),
              url("../img/background.jpg") no-repeat center;
  background-size: cover;
}

.banner {
	margin: auto;
    padding-top: 16%;
    max-width: 80%;
}

.main-title {
  font-size: 5.625em;
  font-weight: 600;
}

.main-subtitle{
  font-size: 1.6em;
  line-height: 2;
}

.row {
    margin: 0;
}

.btn {
    background: none;
    font-size: 1.2em;
    font-weight: 100;
    border:1px solid white;
    border-radius: 5em;
    color: #fff;
}

.btn:hover {
    border:1px solid #ffa949;
    background:#ffa949;
    color: #fff;
}

.btn:active {
    box-shadow: none;
}


.main-header,
.main-footer,
.container-title {
	text-align: center;
}

.container {
    padding:5em 0;
}

.container-logo {
    margin: auto;
    transition: transform 1s ease-out;
}

.container-logo.showUp {
     transform:translateY(-20px);
}

.container-title {
	font-weight: 200;
}


.main-footer {
    background-color: #f1f1f1;
    color: #515151;
    padding: 1em;
}

.footer {
    padding: 0.2em;
}

/* --------Media Queries ----------*/

@media (max-width: 768px) {

    .main-header {
      height: 50vh;
    }
}
@media (max-width: 736px) {

    .main-header {
      height: 100vh;
    }

    .main-title {
      font-size: 5em;
    }

    .main-subtitle{
      font-size: 1.3em;
    }

    .btn {
      font-size: 1em;
      font-weight: normal;
    }

    .container {
      margin: 1em auto;
      padding:3em 0;
    }

}
@media (max-width: 480px) {

    .main-header {
      height: 60vh;
    }
    .banner {
        padding-top: 20%;
    }
}
